@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
    --primary-color: #00040b;
    --primary-light: #a0b3e5;
    --orange-color: #f35405;

}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #00040b;
    color: #eee;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: white; 
    overflow: hidden;
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: relative;
    z-index: 1; 
    animation: fadeIn 1s ease forwards; 
}

.overlay h1,
.overlay h4,
.overlay .btn-explore {
    margin: 0; 
    opacity: 0; 
    animation: slideIn 1s ease forwards; 
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

.nav-bar.active {

    background-color: var(--primary-color);
    box-shadow: 1px 1px 2px #a0b3e5;

}

.content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1.6rem 1rem;
}

.nav-bar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-bar .site-logo {
    padding: 0.5rem;
}

.nav-bar .site-logo .logo-link {
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-transform: capitalize;
    color: #a0b3e5;
    border-top: 4px solid #a0b3e5;
}

.nav-bar .navigation {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.nav-bar .navigation .link a {
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    border-top: 1px solid transparent;
    transition: all 0.6s;
}

.nav-bar .navigation .link:hover a {
    color:  #a0b3e5;
    border-top: 1px solid #a0b3e5;
}


.home {
    background: linear-gradient(to top, #00040b, #00040bbb), url(./assets/header.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}


.btn-explore {
    width: fit-content;
    background-color: #a0b3e5; 
    color: #000; 
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    margin-top: 20px;
    cursor: pointer;
    gap: 1 rem;
    transition: all 1s;
}

.btn-explore:hover {
    border: 2px solid #a0b3e5;
    background-color: #a0b3e5;
    padding-left: 2rem;
}

/* Section Styles */
section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

section .content {
    width: 100%;
    max-width: 1300px;
}

section .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    padding: 2rem 0rem;
}

section .heading .title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #fff;
    text-align: center;
}

section .heading .subtitle {
    font-size: 20px;
    font-weight: 300;
    color: #eee;
}

/* Contact Section */
.contact {
    background-color: #010101;
}

.contact .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.contact .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact .item .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact .item .heading .title,
.contact .heading .subtitle {
    text-align: start;
    max-width: 80%;
}

.contact .item form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 1rem;
    background-color: #00040b;
}

.contact .item .row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.contact .item .row .card {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #a0b3e5;
    border-top: 2px solid #a0b3e5;
    border-bottom: 8px solid transparent;
    transition: all 0.9s;
    cursor: pointer;
}

.contact .item .row .card:hover {
    background-color: #a0b3e511;
    border-bottom: 8px solid #a0b3e5;
}

.contact .item .card .line {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
}

.contact .item .card i {
    font-size: 80px;
}

.contact .item .card h4 {
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
    color: #a0b3e5;
}

.contact .item .card p {
    width: 90%;
    font-size: 16px;
    font-weight: 300;
    margin-left: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #a0b3e5;
    height: 30px;
    display: flex;
    align-items: flex-start;
    transition: align-items 1s;
}

.contact .item .card:hover p {
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: flex-end;
}

.contact .item form .input {
    padding: 1.6rem 1rem;
    background-color: #a0b3e511;
    border: none;
    border-bottom: 2px solid #a0b3e5;
    outline: none;
    color: #a0b3e5;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
}

.contact .item form .btn-contact {
    padding: 1.6rem 0.5rem;
    background-color: #f3540577;
    border: none;
    border-bottom: 2px solid #f35405;
    outline: none;
    color: #a0b3e5;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 1s;
}

.contact .item form .btn-contact:hover {
    background-color: #a0b3e5;
}

/* Footer Styles */
footer {
    color: #fff;
}

footer .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    color: #a0b3e5;
}

footer .content h4 {
    width: 100%;
    text-align: center;
    font-size: 46px;
    line-height: 46px;
}

footer .content .social {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    padding: 1rem;
    padding-bottom: 2rem;
}

footer .content .social a i {
    font-size: 24px;
    color: #a0b3e5;
}

footer .content .social a:hover i {
    font-size: 24px;
    color: #f35405;
}

footer .content p {
    font-size: 16px;
    font-weight: 300;
    color: #a0b3e5;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

footer .content p i {
    font-size: 36px;
    color: #ffffff44;
    padding-bottom: 2rem;
}

footer .content .navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    padding: 1rem;
    padding-bottom: 2rem;
    list-style: none;
}

footer .content .navigation .link {
    padding: 3px 0px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

footer .content .navigation .link a {
    font-size: 18px;
    color: #a0b3e5;
    text-transform: lowercase;
    font-weight: 300;
}

footer .content .navigation .link:hover {
    border-bottom: 1px solid #fff;
}

footer .rights {
    width: 100%;
    border-top: 1px solid #eeeeee77;
    padding: 1rem;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    color: #ffffffcc;
}

footer .rights a {
    color: #ffffff;
    font-weight: 400;
}

/* Hamburger Menu Icon */
.icon-bars,
#bars {
    display: none;
}

@media (max-width: 700px) {
    .icon-bars {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        transform: rotate(90deg);
    }

    .icon-bars i {
        color: #a0b3e5;
        font-size: 20px;
    }

    .nav-bar .navigation {
        position: fixed;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background-color: #000;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.4rem;
        transition: all 2s;
    }

    #bars:checked~.nav-bar .navigation {
        position: fixed;
        top: 0;
        right: 0;
    }
}
